resources:
- manifests.yaml
- service.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: cluster-tokens
    literals:
      - example-server-token=example_token

configurations:
- kustomizeconfig.yaml
