apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "application-rbac-validator.fullname" . }}-manager-role
  labels:
  {{- include "application-rbac-validator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - namespaces
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - argoproj.io
    resources:
      - applications
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - argoproj.io
    resources:
      - applications/finalizers
    verbs:
      - update
  - apiGroups:
      - argoproj.io
    resources:
      - applications/status
    verbs:
      - get
      - patch
      - update

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "application-rbac-validator.fullname" . }}-manager-rolebinding
  labels:
  {{- include "application-rbac-validator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "application-rbac-validator.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "application-rbac-validator.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'