apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "application-rbac-validator.fullname" . }}-metrics-certs
  labels:
  {{- include "application-rbac-validator.labels" . | nindent 4 }}
spec:
  dnsNames:
  - '{{ include "application-rbac-validator.fullname" . }}-metrics-service.{{ .Release.Namespace
    }}.svc'
  - '{{ include "application-rbac-validator.fullname" . }}-metrics-service.{{ .Release.Namespace
    }}.svc.cluster.local'
  issuerRef:
    kind: Issuer
    name: '{{ include "application-rbac-validator.fullname" . }}-selfsigned-issuer'
  secretName: metrics-server-cert
