{{- if .Values.metrics.enabled}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "application-rbac-validator.fullname" . }}-servicemonitor
  labels:
  {{- include "application-rbac-validator.labels" . | nindent 4 }}
spec:
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  endpoints:
      - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
        path: /metrics
        port: https
        scheme: https
        tlsConfig:
          insecureSkipVerify: true
  selector:
    matchLabels:
      app.kubernetes.io/name: application-rbac-validator
      control-plane: controller-manager
{{- end}}